<h3>Login</h3>

<%= form_tag session_path do %>
    Username:<br />
    <%= text_field_tag :username, params[:username] %><br />
    Password:<br />
    <%= password_field_tag :password, params[:password] %><br /><br />

    

    <%= submit_tag 'Log in' %>
<% end %>
<br />
<br />
<p>
  <%= link_to 'Sign up', signup_path %>
</p><br />

<p style="font-size: smaller"><i>Forgot your password? <%= link_to 'Send us a message', contacts_path() %>.</i></p>
