<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Wanca' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wanca" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="loader"></div>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class=".container">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
       <%= render 'layouts/messages' %>
        <br />
       <%= yield %>
      </div>
    </main>
    <!-- </form> -->

  </body>

<!--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">



    function startLoader(){
        $(".loader").show()
    }

      $(window).ready(function() {
      // Animate loader off screen
        $(".loader").fadeOut("slow");
      });

  </script>-->
</html>
